:root{
    --primary-color: #9E1E93;
    --degradado-top: #6D1583;
    --degradado-bottom: #D62787;
    --degradado-top-2: #B9B9B7;
    --degradado-bottom-2: #CECECC;
}


/* seccion header start */
.hero{
    background-image: url(../img41.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-formulario-input{
    width: 100%; 
    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
    padding: 5px; 
}
/* seccion header end */

/* seccion servicios start */
.servicio-img{
    background-image: url(../img42.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.servicios-card{
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}
/* seccion servicios end */

/* seccion nuestro equipo start */
.nuestro-equipo-card-img-1{
    background-image: url(../img45.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.nuestro-equipo-card-img-2{
    background-image: url(../img43.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.nuestro-equipo-card-img-3{
    background-image: url(../img44.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
/* seccion nuestro equipo end */

/* Ubicacion start  */

/* Ubicacion end  */

/* seccion contacto start */
.contacto-img{
    background-image: url(../img40.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
/* seccion contacto end */